*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.logo{
    display: flex;
    margin: auto;
    width: -20px;
    height:15px;
    padding:20px;
    align-items: center;
}
.logo h1{
    
    font-size:25px;
    color:rgb(240, 196, 85);
    margin-left: -41px;
    font-style: italic;
}
section.Chat_Section{
    width: 999px;
    max-width: 90%;
    border: 2px solid rgb(74, 20, 250);
    margin: auto;
    height: 83vh;
    padding: 33px;
    margin-bottom: 55px;
    background-image: url("/17b5b32cb87471940a5ee8e1aecff557.jpg");
}

.message_area{
    background-color: rgb(196, 167, 250);
    display: flex;
    height: 501px;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 9px;
    padding-top: 40px;
    border-radius: 5px;
    overflow-y: auto;
}

.incoming{
    float: left;
    clear: both;
    border-end-end-radius: 30px;
    background-color: lightgreen;
}

.outgoing{
    float: right;
    clear: both;
    color:white;
    border-top-left-radius: 30px;
    background-color: brown;
    margin-left: auto;
}
#onlymessage{
    overflow-x:auto;
    padding: 10px;
}

.message{
    padding: 20px;
    margin-bottom:40px;
    max-width: 300px;
    position: relative;
}
#textarea{
    width: 90%;
    border: 2px solid rgb(171, 167, 246);
    padding: 19px;
    font-size: 16px;
    border-radius: 6px;
    outline: none;
    background-color: rgb(176, 230, 249);
}
#textarea:hover{
    background-color: rgb(149, 225, 250);
    border: 2px solid rgb(171, 167, 246);
}
.message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
#btn{
    background-color: rgb(69, 158, 246);
    border: none;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 2px;
    padding: 12px 16px;
    cursor: pointer;
}
#btn:hover{
    background-color:RoyalBlue;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:70vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
